.App {
  text-align: center;
  background-color: #3d3d3d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

a {
  color: #09d3ac;
  text-decoration: none;
}
span {
  font-size: .8rem;
}
table {
  margin: 2rem;
  border: 1px solid #ccc;
}
li {
  list-style: none;
}
